
<div class="card">
    <div class="card-body table-responsive" *ngIf="stdArr.length>0 ; else noStd" >
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Course</th>
                    <th>Matks</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Remove</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of stdArr ; index as i; trackBy:trackById">
                    <td>{{i+1}}</td>
                    <td>{{std.studentName}}</td>
                    <td>{{std.age}}</td>
                    <td>{{std.city}}</td>
                    <td>{{std.course}}</td>
                    <td>{{std.marks}}</td>
                    <td>{{std.isActive ?"Yes":"NO"}}</td>
                    <td><button
                        (click)="onEdit(std)"
                        mat-raised-button color="primary">Edit</button></td>
                    <td><button
                        (click)="onRemove(std.studentId)"
                        mat-raised-button color="warn">Remove</button></td>
                </tr>
            </tbody>
        </table>

        
    </div>
</div>

<ng-template #noStd>
            <p class="alert alert-info">NO STUDENT DATA!!!</p>
</ng-template>